.action__button {
  height: 48px;
  width: 160px;
  color: #fff;
  background-color: #3040c4;
  font: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
}

.hide_desctop {
  @include for-large-up {
    display: none;
  }
}

.hide_mobile {
  @include for-large-down {
    display: none;
  }
}
